body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.elem {
    padding-top: 10px;
    padding-bottom: 10px;
}

.emelt {
    font-weight: bold;
}

main {
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 25px;
    margin-bottom: 0px;
    font-family: sans-serif;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.582);
}


.szoveg {
    text-indent: 10px;
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;

}

.focim {
    padding-top: 0px;
    padding-bottom: 0px;
}

.hozzavalok {
    padding-top: 10px;
    padding-left: 30px;
    line-height: 30px;
    padding-bottom: 0px;
}

.vonal {
    outline: 1px solid black;
}

.alcim {
    padding: 0px;
    margin: 0px;
}

nav, .dropdown-menu {
    background-color: rgb(20, 20, 20);
}

.dropdown-item {
    color: white;
}

.aktiv {
    background-color: rgb(24, 24, 24);
    font-weight: bold;
}

.kep {
    box-shadow: 0px 0px 4px 1px black;
}

.card {
    background-color: rgba(255, 255, 255, 0.253);
    padding: 10px;
}

.btn {
    background-color: rgb(78, 78, 78);
    color: white;
    margin: auto;
    display: block;
}

.card-body {
    margin: 0;
    padding: 0;
}

.card-title {
    padding-top: 10px;
}